<div class="partial">
    <img src="https://www.shareicon.net/data/512x512/2016/10/20/846424_blue_512x512.png" alt="">
    <img src="http://moziru.com/images/blue-clipart-lifesaver-11.png" alt="img">
    <img src="https://www.shareicon.net/data/512x512/2016/10/20/846424_blue_512x512.png" alt="">
</div>
