<div class="partial">
    <ul class="nav">
        <li><a href="/register">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>
