<div class="home">
    <h1>Help us to rescue lives</h1>
    <p>Please sign here inside the text field and submit!</p>
    <div class="petition">

        {{#if error}}
            <p>{{error}}</p>
        {{/if}}

        <form class="" action="/petition" method="post">
            <canvas id="canvas" width="600" height="150">Your Browser does not support Canvas, please upgrade</canvas>
            <input id="signatureField" type="hidden" name="signature">
            <div class="pet-button">
                <button type="submit" name="button">Submit</button>
            </div>
        </form>
    </div>
    <script src="/script.js" charset="utf-8"></script>
</div>
