<div class="profile">
    <img src="https://www.elchschilder.de/images/product_images/original_images/Verbotsschild_Alkoholverbot_fuer_Badegaeste.png" alt="img">
    <p>Now please tell us just a little bit more about yourself</p>
    <form class="" action="/profile" method="post">
        <input type="text" name="age" placeholder="age">
        <input type="text" name="city" placeholder="city">
        <input type="text" name="homepage" placeholder="homepage">
        <button type="submit">Submit</button>
    </form>
</div>
