<div class="register">


    <p class="intro">Seenotrettung darf niemals von EU-Verhandlungen abhängig sein, Verteilungsfragen müssen an Land geklärt werden. Wir fordern die europäische Kommission auf: Ziehen Sie ein für alle mal einen Schlusstrich unter das würdelose Feilschen um Menschen. Weisen Sie den 47 Überlebenden auf der Sea-Watch 3 sofort einen sicheren Hafen zu und stellen sie sicher, dass in zukünftigen Fällen direkt und ohne Verzögerung ein sicherer Hafen zugewiesen wird!</p>
    <div class="">

        {{#if error}}
            <p>{{error}}</p>
        {{/if}}

        <form class="register-form" action="/register" method="post">
            <input type="text" name="firstname" placeholder="first">
            <input type="text" name="lastname" placeholder="last">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Submit</button>
        </form>
    </div>
    <p class="login-reg">If you are already a member, please <a href="/login">login</a> </p>
</div>
