<div class="signers">
    <img src="https://www.elchschilder.de/images/product_images/original_images/Verbotsschild_Alkoholverbot_fuer_Badegaeste.png" alt="img">
    <h1>Thanks for signing</h1>
    {{#each names}}
    <ul>
        <li>{{firstname}} {{lastname}}</li>
    </ul>
    {{/each}}

</div>
