<div class="signed">
    <p>Thanks for signing</p>
    <!--Image here needs url of the signature-->
    <!-- {{signature}} comes from signature property from index.js app.get (/signed) -->
    <div class="sig-container">
        <img class="signature-img" src={{signature}} alt="img">
    </div>
    <form class="sign-delete" action="/petition/signed" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="delete-button" type="submit" name="button">Delete Signature</button>
    </form>
    <!--"/petition/signers is path to next template; same name as in index.js"-->
    <h3 id="signers"><a href="/petition/signers">See all {{count}} signers</a></h3>
</div>
